extends layout

block head
  script(src='/js/app.js')

block content
  form#main.hero-unit.form-inline(
    action='/register',
    method='get',
    name='form'
  )
    h1 N37 Url Shortener
    br
    div.input-append
      input#url-input.input-large.span6(
        name='url',
        type='text',
        placeholder="Enter the url"
        style='width:474px;'
        )
      input.btn.btn-large(type='submit', value="Shorten It!")
      p
        example: http://google.com
    #result

  script(type='template')
